body {
  width: 100%;
  height: 100%;
  background-color: #171717;
  
}
body::-webkit-scrollbar {
  width: 0em;
}
 

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn-group a {
  font-family: 'Quicksand';
  color: white;
  text-shadow: 0 0 0.4em #1f1e1c;
  text-decoration: none;
  line-height: 1.7;
  font-size: 1.3rem;
  transition: .6s;
  border-radius: 10px;
  padding-top: .9375pc;
  padding-right: .9375pc;
  padding-bottom: .9375pc;
  padding-left: .9375pc;
  font-weight: 500;
  border-image: none;
  border-top-color: currentColor;
  border-right-color: currentColor;
  border-bottom-color: currentColor;
  border-left-color: currentColor;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  background-color: #00000070;
  cursor:  pointer;
  margin: 3px;
}
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group a:hover {
  background-color: #50505070;
}

.text1 {
  font-family: 'Quicksand'; 
  color: white; 
  place-items: center; 
  text-shadow: 0 0 0.4em #1f1e1c; 
  margin-top: -60px;
  position: fixed;
  transform: translate(-50%,0);
  left: 50%;
  top: 50%;
}
.text2 {
  font-family: 'Quicksand'; 
  color: white; 
  place-items: center; 
  text-shadow: 0 0 0.4em #1f1e1c; 
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
  top: -2.5%;
}
.info-group h1{
  color: white;
  font-weight: normal;
  font-family: 'Quicksand'; 
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 30px;
}
