@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}.highlight table td{padding:5px}.highlight table pre{margin:0}.highlight .cm{color:#999988;font-style:italic}.highlight .cp{color:#999999;font-weight:bold}.highlight .c1{color:#999988;font-style:italic}.highlight .cs{color:#999999;font-weight:bold;font-style:italic}.highlight .c,.highlight .cd{color:#999988;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .gd{color:#000000;background-color:#ffdddd}.highlight .ge{color:#000000;font-style:italic}.highlight .gr{color:#aa0000}.highlight .gh{color:#999999}.highlight .gi{color:#000000;background-color:#ddffdd}.highlight .go{color:#888888}.highlight .gp{color:#555555}.highlight .gs{font-weight:bold}.highlight .gu{color:#aaaaaa}.highlight .gt{color:#aa0000}.highlight .kc{color:#000000;font-weight:bold}.highlight .kd{color:#000000;font-weight:bold}.highlight .kn{color:#000000;font-weight:bold}.highlight .kp{color:#000000;font-weight:bold}.highlight .kr{color:#000000;font-weight:bold}.highlight .kt{color:#445588;font-weight:bold}.highlight .k,.highlight .kv{color:#000000;font-weight:bold}.highlight .mf{color:#009999}.highlight .mh{color:#009999}.highlight .il{color:#009999}.highlight .mi{color:#009999}.highlight .mo{color:#009999}.highlight .m,.highlight .mb,.highlight .mx{color:#009999}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#d14}.highlight .s2{color:#d14}.highlight .se{color:#d14}.highlight .sh{color:#d14}.highlight .si{color:#d14}.highlight .sx{color:#d14}.highlight .sr{color:#009926}.highlight .s1{color:#d14}.highlight .ss{color:#990073}.highlight .s{color:#d14}.highlight .na{color:#008080}.highlight .bp{color:#999999}.highlight .nb{color:#0086B3}.highlight .nc{color:#445588;font-weight:bold}.highlight .no{color:#008080}.highlight .nd{color:#3c5d5d;font-weight:bold}.highlight .ni{color:#800080}.highlight .ne{color:#990000;font-weight:bold}.highlight .nf{color:#990000;font-weight:bold}.highlight .nl{color:#990000;font-weight:bold}.highlight .nn{color:#555555}.highlight .nt{color:#000080}.highlight .vc{color:#008080}.highlight .vg{color:#008080}.highlight .vi{color:#008080}.highlight .nv{color:#008080}.highlight .ow{color:#000000;font-weight:bold}.highlight .o{color:#000000;font-weight:bold}.highlight .w{color:#bbbbbb}.highlight{background-color:#f8f8f8}*{box-sizing:border-box}body{padding:0;margin:0;font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;line-height:1.5;color:#14141c;background-color:white}#skip-to-content{height:1px;width:1px;position:absolute;overflow:hidden;top:-10px}#skip-to-content:focus{position:fixed;top:10px;left:10px;height:auto;width:auto;background:#c2c275;outline:thick solid #c2c275}a{color:#3d3d8a;text-decoration:none}a:hover{text-decoration:underline}.btn{display:inline-block;margin-bottom:1rem;color:rgba(255,255,255,0.7);background-color:rgba(255,255,255,0.08);border-color:rgba(255,255,255,0.2);border-style:solid;border-width:1px;border-radius:0.3rem;transition:color 0.2s, background-color 0.2s, border-color 0.2s}.btn:hover{color:rgba(255,255,255,0.8);text-decoration:none;background-color:rgba(255,255,255,0.2);border-color:rgba(255,255,255,0.3)}.btn+.btn{;;;;;;;;;;;;;;;margin-left:1rem;}@media screen and (min-width: 64em){.btn{padding:0.75rem 1rem}}@media screen and (min-width: 480px) and (max-width: 64em){.btn{padding:0.6rem 0.9rem;font-size:0.9rem;}}@media scree480pxd (max-width: 42em){.btn{display:block;width:100%;padding:0.75rem;font-size:0.9rem}.btn+.btn{margin-top:1rem;margin-left:0}}@media (max-width: 480px){.btn{font-size: 0.9rem;padding: 0.6rem 0.9rem; width: 100%;}.btn+.btn{margin-left: 0rem;}}.btnc{display:inline-block;margin-bottom:1rem;color:rgba(20,20,28,0.9);background-color:rgba(76,67,163,0.08);border-color:rgba(20,20,28,0.9);border-style:solid;border-width:1px;border-radius:0.3rem;transition:color 0.2s, background-color 0.2s, border-color 0.2s}.btnc:hover{color:rgba(76,67,163,0.8);text-decoration:none;background-color:rgba(76,67,163,0.2);border-color:rgba(76,67,163,0.3)}.btnc+.btnc{margin-left:1rem}@media screen and (min-width: 64em){.btnc{padding:0.75rem 1rem}}@media screen and (min-width: 42em) and (max-width: 64em){.btnc{padding:0.6rem 0.9rem;font-size:0.9rem}}@media screen and (max-width: 42em){.btnc{display:block;width:100%;padding:0.75rem;font-size:0.9rem}.btnc+.btn{margin-top:1rem;margin-left:0}}.page-header{color:#fff;text-align:center;/* background-color:#342066; *//* background-image:linear-gradient(120deg, #473752, #342066); */}@media screen and (min-width: 64em){.page-header{padding:5rem 6rem}}@media screen and (min-width: 42em) and (max-width: 64em){.page-header{padding:3rem 4rem}}@media screen and (max-width: 42em){.page-header{padding:2rem 1rem}}.project-name{margin-top:0;margin-bottom:0.1rem}@media screen and (min-width: 64em){.project-name{font-size:3.25rem}}@media screen and (min-width: 42em) and (max-width: 64em){.project-name{font-size:2.25rem}}@media screen and (max-width: 42em){.project-name{font-size:1.75rem}}.project-tagline{margin-bottom:2rem;font-weight:normal;opacity:0.7}@media screen and (min-width: 64em){.project-tagline{font-size:1.25rem}}@media screen and (min-width: 42em) and (max-width: 64em){.project-tagline{font-size:1.15rem}}@media screen and (max-width: 42em){.project-tagline{font-size:1rem}}.main-content{word-wrap:break-word}.main-content :first-child{margin-top:0}@media screen and (min-width: 64em){.main-content{max-width:64rem;padding:2rem 6rem;margin:0 auto;font-size:1.1rem}}@media screen and (min-width: 42em) and (max-width: 64em){.main-content{padding:2rem 4rem;font-size:1.1rem}}@media screen and (max-width: 42em){.main-content{padding:2rem 1rem;font-size:1rem}}.main-content kbd{background-color:#fafbfc;border:1px solid #c6cbd1;border-bottom-color:#959da5;border-radius:3px;box-shadow:inset 0 -1px 0 #959da5;color:#444d56;display:inline-block;font-size:11px;line-height:10px;padding:3px 5px;vertical-align:middle}.main-content img{max-width:100%}.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6{margin-top:2rem;margin-bottom:1rem;font-weight:normal;color:#1f1e30}.main-content p{margin-bottom:1em}.main-content code{padding:2px 4px;font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;font-size:0.9rem;color:#14141c;background-color:#f3f6fa;border-radius:0.3rem}.main-content pre{padding:0.8rem;margin-top:0;margin-bottom:1rem;font:1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;color:#14141c;word-wrap:normal;background-color:#f3f6fa;border:solid 1px #eddcf0;border-radius:0.3rem}.main-content pre>code{padding:0;margin:0;font-size:0.9rem;color:#14141c;word-break:normal;white-space:pre;background:transparent;border:0}.main-content .highlight{margin-bottom:1rem}.main-content .highlight pre{margin-bottom:0;word-break:normal}.main-content .highlight pre,.main-content pre{padding:0.8rem;overflow:auto;font-size:0.9rem;line-height:1.45;border-radius:0.3rem;-webkit-overflow-scrolling:touch}.main-content pre code,.main-content pre tt{display:inline;max-width:initial;padding:0;margin:0;overflow:initial;line-height:inherit;word-wrap:normal;background-color:transparent;border:0}.main-content pre code:before,.main-content pre code:after,.main-content pre tt:before,.main-content pre tt:after{content:normal}.main-content ul,.main-content ol{margin-top:0}.main-content blockquote{padding:0 1rem;margin-left:0;color:#14141c;border-left:0.3rem solid #eddcf0}.main-content blockquote>:first-child{margin-top:0}.main-content blockquote>:last-child{margin-bottom:0}.main-content table{display:block;width:100%;overflow:auto;word-break:normal;word-break:keep-all;-webkit-overflow-scrolling:touch}.main-content table th{font-weight:bold}.main-content table th,.main-content table td{padding:0.5rem 1rem;border:1px solid #ebe9ec}.main-content dl{padding:0}.main-content dl dt{padding:0;margin-top:1rem;font-size:1rem;font-weight:bold}.main-content dl dd{padding:0;margin-bottom:1rem}.main-content hr{height:2px;padding:0;margin:1rem 0;background-color:#f1eff1;border:0}.site-footer{padding-top:2rem;margin-top:2rem;border-top:solid 1px #f1eff1}@media screen and (min-width: 64em){.site-footer{font-size:1rem}}@media screen and (min-width: 42em) and (max-width: 64em){.site-footer{font-size:1rem}}@media screen and (max-width: 42em){.site-footer{font-size:0.9rem}}.site-footer-owner{display:block;font-weight:bold}.site-footer-credits{color:#14141c}nav{background:#1f1e30;text-align:center;position:sticky;top:0;width:100%}@media screen and (max-width: 42em){nav{position:initial;top:initial;width:initial}}nav>a{padding:1rem;display:inline-block;color:#fff}nav>a:hover{background:#473752;text-decoration:none}h6{font-size:1em}h5{font-size:1.125em}h4{font-size:1.25em}h3{font-size:1.5em}h2{font-size:1.75rem}h1{font-size:2rem}

.overlay {
  z-index: 1;
}
.overlay {
  background-color: black;
}
body {
  background-color: #5e5e5e;
}
[class~="no-hover"] {
  display: block;
}
html {
  scroll-behavior: smooth;
}
[class~="hover"] {
  display: none;
}
*::after,
* {
  margin-left: 0;
}
[class~="fullscreen"] {
  position: fixed;
}
[class~="topbutton"]:hover {
  color: white;
}
*::after {
  margin-bottom: 0;
}
*::after {
  margin-right: 0;
}
[class~="fullscreen"] {
  top: 50%;
}
[class~="fullscreen"] {
  left: 50%;
}
[class~="topbutton"]:hover {
  background-color: #50505070;
}
[class~="fullscreen"] {
  transform: translate(-50%, -50%);
}
.overlay label {
  display: grid;
}
.overlay label {
  place-items: center;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-left-width: medium;
}
#overlay-toggle:checked ~ [class~="overlay"],
#overlay-toggle:checked ~ [class~="overlay"] label {
  animation-fill-mode: forwards;
}
[class~="fullscreen"] {
  min-height: 100vh;
}
[class~="fullscreen"] {
  min-width: 100vw;
}
[class~="bg-video"] {
  z-index: -1;
}
*::after {
  margin-top: 0;
}
.topbutton-text {
  margin-top: 22.5pt;
}
*::after,
*::before {
  padding-left: 0;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-bottom-width: medium;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-right-width: medium;
}
.topbutton-text {
  font-size: 20;
}
.topbutton-text {
  text-align: left;
}
.overlay label {
  width: 100vw;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-top-width: medium;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-left-style: none;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-bottom-style: none;
}
.topbutton-text {
  font-weight: 550;
}
.overlay label {
  height: 100vw;
}
.topbutton-text,
.overlay label {
  color: #fff;
}
[class~="topbutton"] {
  color: white;
}
*::before,
*::after {
  padding-bottom: 0;
}
#overlay-toggle:checked ~ [class~="overlay"] {
  animation-name: fade, hide;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-right-style: none;
}
.overlay label {
  font-size: 2rem;
}
[class~="topbutton"] {
  background-color: #00000070;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-top-style: none;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-left-color: currentColor;
}
#overlay-toggle:checked ~ [class~="overlay"] {
  animation-delay: 0s, 600ms;
}
*::after,
*::before {
  padding-right: 0;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-bottom-color: currentColor;
}
*::after,
*::before {
  padding-top: 0;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-right-color: currentColor;
}
.text-content h1,
[class~="text-content"] p {
  font-size: 1.7rem;
}
.text-content h1 {
  font-weight: 800;
}
*::before,
* {
  margin-bottom: 0;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-top-color: currentColor;
}
*::before {
  box-sizing: inherit;
}
#overlay-toggle:checked ~ [class~="overlay"] label {
  animation-name: fade;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-image: none;
}
*::before,
[class~="text-content"] p,
* {
  margin-right: 0;
}
[class~="text-content"] p,
*::before {
  margin-left: 0;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  padding-left: 0.9375pc;
}
[class~="topbutton"],
[class~="text-content"] p,
[class~="topbutton"]:hover {
  font-weight: 500;
}
*::before,
* {
  margin-top: 0;
}
#overlay-toggle:checked ~ [class~="overlay"] label {
  animation-delay: 0s;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  padding-bottom: 0.9375pc;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  padding-right: 0.9375pc;
}
#overlay-toggle:checked ~ [class~="overlay"] {
  animation-duration: 600ms, 1ms;
}
#overlay-toggle {
  position: absolute;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  padding-top: 0.9375pc;
}
body {
  background: black;
}
[class~="text-content"] p {
  margin-bottom: 2rem;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-radius: 10px;
}
#overlay-toggle {
  display: none;
}
#RUL {
  text-decoration: none;
}
#overlay-toggle:checked ~ [class~="overlay"] label {
  animation-duration: 500ms;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  text-align: left;
}
[class~="topbutton"]:hover {
  transition: 0.5s;
}
* {
  padding-left: 0;
}
[class~="text-content"] p {
  margin-top: 2.5rem;
}
[class~="topbutton"] {
  transition: 0.4s;
}
[class~="button-text"],
[class~="text-content"],
[class~="text-content"] p {
  color: #fff;
}
[class~="button-text"] {
  margin-top: 3.125pc;
}
[class~="button-text"] {
  font-size: 20;
}
[class~="text-content"],
[class~="button-text"] {
  text-align: center;
}
[class~="button-text"] {
  font-weight: 550;
}
[class~="text-content"] {
  background: rgba(0, 0, 0, 0);
}
[class~="text-content"] {
  display: grid;
}
[class~="text-content"] {
  place-content: center;
}
* {
  padding-bottom: 0;
}
* {
  padding-right: 0;
}
.text-content a {
  font-size: 1.3rem;
}
.text-content a {
  line-height: 1.7;
}
.text-content a {
  color: #ec3a2d;
}
* {
  padding-top: 0;
}
@media (hover: hover) {
  [class~="hover"] {
    display: block;
  }
  [class~="no-hover"] {
    display: none;
  }
}
@keyframes fade {
  to {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    visibility: hidden;
  }
}
[class~="rect"] {
  background-color: #00000070;
}
[class~="rect"] {
  border-left-width: medium;
}
[class~="rect"] {
  border-bottom-width: medium;
}
[class~="rect"] {
  border-right-width: medium;
}
[class~="rect"] {
  border-top-width: medium;
}
[class~="rect"] {
  border-left-style: none;
}
video {
  position: fixed;
}
video {
  right: 0;
}
[class~="rect"] {
  border-bottom-style: none;
}
[class~="rect"] {
  border-right-style: none;
}
[class~="rect"] {
  border-top-style: none;
}
video {
  bottom: 0;
}
[class~="rect"] {
  border-left-color: currentColor;
}
[class~="rect"] {
  border-bottom-color: currentColor;
}
[class~="rect"] {
  border-right-color: currentColor;
}
[class~="rect"] {
  border-top-color: currentColor;
}
[class~="rect"] {
  border-image: none;
}
video {
  min-width: 100%;
}
[class~="rect"] {
  padding-left: 0.15625in;
}
[class~="rect"] {
  padding-bottom: 0.15625in;
}
video {
  min-height: 100%;
}
[class~="rect"] {
  padding-right: 0.15625in;
}
[class~="rect"] {
  padding-top: 0.15625in;
}
[class~="rect"] {
  border-radius: 22.5pt;
}
video {
  z-index: -2;
}
[class~="title"] {
  font-size: 4.0625pc;
}
[class~="title"],
.question,
[class~="answer"] {
  color: #fff;
}
.question,
[class~="answer"],
[class~="title"] {
  text-align: center;
}
[class~="title"],
.question,
[class~="answer"] {
  font-weight: 550;
}
.question {
  font-size: 41.25pt;
}
video {
  filter: blur(5px) brightness(75%);
}
video {
  pointer-events: none;
}
[class~="answer"] {
  font-size: 15pt;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  	background: rgba(0,0,0,0.11);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #9263f761;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #9263f7;;
}

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none;
}
#vidtop-content {
    top: 0;
}
